.outer{
  display: flex;
  justify-content: center;
  background: rgb(235, 196, 196);
}
.outer-box {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background-color: white;
}
.list-grid {
  width: 50vw;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 1rem;
  justify-items: center;
}
.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
  height: 15vh;
  padding: 2rem;
}

.toggle-options {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px; /* Adjust as needed */
}

.option {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: large;
}

.option:hover {
  background-color: #ddd;
}